<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xyz.caofancpu.trackingtime.mapper.D8gerAutoCodingMapper">

    <!-- 查询操作时条件 -->
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    AND ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    AND ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    AND ${criterion.condition} #{criterion.value} AND #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    AND ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>

    <!-- 更新操作时条件 -->
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    AND ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    AND ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    AND ${criterion.condition} #{criterion.value} AND #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    AND ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>

    <!-- 1.根据条件查询列表 -->
    <select id="selectByExample" parameterType="com.xyz.caofancpu.trackingtime.mapper.example.D8gerAutoCodingExample" resultType="com.xyz.caofancpu.trackingtime.model.D8gerAutoCodingMo">
        SELECT
        <if test="distinct">
            DISTINCT
        </if>
        `id` AS id,
        `age` AS age,
        `score` AS score,
        `total_seconds` AS totalSeconds,
        `nick_name` AS nickName,
        `deleted` AS deleted,
        `complete_level` AS completeLevel,
        `register_date` AS registerDate,
        `pre_start_time` AS preStartTime,
        `exact_money` AS exactMoney,
        `english_money` AS englishMoney,
        `german_money` AS germanMoney,
        `french_money` AS frenchMoney,
        `japan_money` AS japanMoney,
        `korean_money` AS koreanMoney,
        `rmb_money` AS rmbMoney,
        `encrypt_type` AS encryptType,
        `mark_content_status` AS markContentStatus
        FROM `d8ger_auto_coding`
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            ORDER BY ${orderByClause}
        </if>
    </select>

    <!-- 2.批量更新, 根据主键更新非null字段 -->
    <update id="updateBatchByPrimaryKeySelective" parameterType="java.util.List">
        <foreach collection="list" open="" close="" separator=";" item="item">
            UPDATE `d8ger_auto_coding`
            <set>
                <if test="age != null">
                    `age` = #{age},
                </if>
                <if test="score != null">
                    `score` = #{score},
                </if>
                <if test="totalSeconds != null">
                    `total_seconds` = #{totalSeconds},
                </if>
                <if test="nickName != null">
                    `nick_name` = #{nickName},
                </if>
                <if test="deleted != null">
                    `deleted` = #{deleted},
                </if>
                <if test="completeLevel != null">
                    `complete_level` = #{completeLevel},
                </if>
                <if test="registerDate != null">
                    `register_date` = #{registerDate},
                </if>
                <if test="preStartTime != null">
                    `pre_start_time` = #{preStartTime},
                </if>
                <if test="exactMoney != null">
                    `exact_money` = #{exactMoney},
                </if>
                <if test="englishMoney != null">
                    `english_money` = #{englishMoney},
                </if>
                <if test="germanMoney != null">
                    `german_money` = #{germanMoney},
                </if>
                <if test="frenchMoney != null">
                    `french_money` = #{frenchMoney},
                </if>
                <if test="japanMoney != null">
                    `japan_money` = #{japanMoney},
                </if>
                <if test="koreanMoney != null">
                    `korean_money` = #{koreanMoney},
                </if>
                <if test="rmbMoney != null">
                    `rmb_money` = #{rmbMoney},
                </if>
                <if test="encryptType != null">
                    `encrypt_type` = #{encryptType},
                </if>
                <if test="markContentStatus != null">
                    `mark_content_status` = #{markContentStatus},
                </if>
            </set>
            WHERE id = #{id}
        </foreach>
    </update>

    <!-- 3.根据条件更新非null字段 -->
    <update id="updateByExampleSelective" parameterType="map">
        UPDATE `d8ger_auto_coding`
        <set>
            <if test="record.id != null">
                `id` = #{record.id},
            </if>
            <if test="record.age != null">
                `age` = #{record.age},
            </if>
            <if test="record.score != null">
                `score` = #{record.score},
            </if>
            <if test="record.totalSeconds != null">
                `total_seconds` = #{record.totalSeconds},
            </if>
            <if test="record.nickName != null">
                `nick_name` = #{record.nickName},
            </if>
            <if test="record.deleted != null">
                `deleted` = #{record.deleted},
            </if>
            <if test="record.completeLevel != null">
                `complete_level` = #{record.completeLevel},
            </if>
            <if test="record.registerDate != null">
                `register_date` = #{record.registerDate},
            </if>
            <if test="record.preStartTime != null">
                `pre_start_time` = #{record.preStartTime},
            </if>
            <if test="record.exactMoney != null">
                `exact_money` = #{record.exactMoney},
            </if>
            <if test="record.englishMoney != null">
                `english_money` = #{record.englishMoney},
            </if>
            <if test="record.germanMoney != null">
                `german_money` = #{record.germanMoney},
            </if>
            <if test="record.frenchMoney != null">
                `french_money` = #{record.frenchMoney},
            </if>
            <if test="record.japanMoney != null">
                `japan_money` = #{record.japanMoney},
            </if>
            <if test="record.koreanMoney != null">
                `korean_money` = #{record.koreanMoney},
            </if>
            <if test="record.rmbMoney != null">
                `rmb_money` = #{record.rmbMoney},
            </if>
            <if test="record.encryptType != null">
                `encrypt_type` = #{record.encryptType},
            </if>
            <if test="record.markContentStatus != null">
                `mark_content_status` = #{record.markContentStatus},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>

    <!-- 4.根据条件删除记录 -->
    <delete id="deleteByExample" parameterType="com.xyz.caofancpu.trackingtime.mapper.example.D8gerAutoCodingExample">
        DELETE FROM `d8ger_auto_coding`
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>

    <!-- 5.根据条件统计记录 -->
    <select id="countByExample" parameterType="com.xyz.caofancpu.trackingtime.mapper.example.D8gerAutoCodingExample">
        SELECT
        COUNT(*)
        FROM `d8ger_auto_coding`
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>

    <!-- 6.增加单条记录, 返回主键 -->
    <insert id="insertWithId" parameterType="com.xyz.caofancpu.trackingtime.model.D8gerAutoCodingMo" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO `d8ger_auto_coding` (`id`,
                                         `age`,
                                         `score`,
                                         `total_seconds`,
                                         `nick_name`,
                                         `deleted`,
                                         `complete_level`,
                                         `register_date`,
                                         `pre_start_time`,
                                         `exact_money`,
                                         `english_money`,
                                         `german_money`,
                                         `french_money`,
                                         `japan_money`,
                                         `korean_money`,
                                         `rmb_money`,
                                         `encrypt_type`,
                                         `mark_content_status`)
        values (#{id},
                #{age},
                #{score},
                #{totalSeconds},
                #{nickName},
                #{deleted},
                #{completeLevel},
                #{registerDate},
                #{preStartTime},
                #{exactMoney},
                #{englishMoney},
                #{germanMoney},
                #{frenchMoney},
                #{japanMoney},
                #{koreanMoney},
                #{rmbMoney},
                #{encryptType},
                #{markContentStatus})
    </insert>

    <!-- 7.批量增加记录, 返回主键 -->
    <insert id="insertBatchWithId" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO `d8ger_auto_coding` (
        `id`,
        `age`,
        `score`,
        `total_seconds`,
        `nick_name`,
        `deleted`,
        `complete_level`,
        `register_date`,
        `pre_start_time`,
        `exact_money`,
        `english_money`,
        `german_money`,
        `french_money`,
        `japan_money`,
        `korean_money`,
        `rmb_money`,
        `encrypt_type`,
        `mark_content_status`
        )
        VALUES
        <foreach collection="list" item="item" separator=",">
            (
            #{item.id},
            #{item.age},
            #{item.score},
            #{item.totalSeconds},
            #{item.nickName},
            #{item.deleted},
            #{item.completeLevel},
            #{item.registerDate},
            #{item.preStartTime},
            #{item.exactMoney},
            #{item.englishMoney},
            #{item.germanMoney},
            #{item.frenchMoney},
            #{item.japanMoney},
            #{item.koreanMoney},
            #{item.rmbMoney},
            #{item.encryptType},
            #{item.markContentStatus}
            )
        </foreach>
    </insert>

    <!-- 8.D8gerAutoCoding列表查询 -->
    <select id="queryD8gerAutoCodingMoList" parameterType="com.xyz.caofancpu.trackingtime.model.D8gerAutoCodingMo" resultType="com.xyz.caofancpu.trackingtime.model.D8gerAutoCodingMo">
        SELECT
        `id` AS id,
        `age` AS age,
        `score` AS score,
        `total_seconds` AS totalSeconds,
        `nick_name` AS nickName,
        `deleted` AS deleted,
        `complete_level` AS completeLevel,
        `register_date` AS registerDate,
        `pre_start_time` AS preStartTime,
        `exact_money` AS exactMoney,
        `english_money` AS englishMoney,
        `german_money` AS germanMoney,
        `french_money` AS frenchMoney,
        `japan_money` AS japanMoney,
        `korean_money` AS koreanMoney,
        `rmb_money` AS rmbMoney,
        `encrypt_type` AS encryptType,
        `mark_content_status` AS markContentStatus
        FROM `d8ger_auto_coding`
        WHERE 1 = 1
        <if test="id != null">
            AND `id` = #{id}
        </if>
        <if test="age != null">
            AND `age` = #{age}
        </if>
        <if test="score != null">
            AND `score` = #{score}
        </if>
        <if test="totalSeconds != null">
            AND `total_seconds` = #{totalSeconds}
        </if>
        <if test="nickName != null">
            AND `nick_name` LIKE CONCAT(#{nickName}, '%')
        </if>
        <if test="deleted != null">
            AND `deleted` = #{deleted}
        </if>
        <if test="completeLevel != null">
            AND `complete_level` = #{completeLevel}
        </if>
        <if test="registerDate != null">
            AND `register_date` = #{registerDate}
        </if>
        <if test="preStartTime != null">
            AND `pre_start_time` = #{preStartTime}
        </if>
        <if test="exactMoney != null">
            AND `exact_money` = #{exactMoney}
        </if>
        <if test="englishMoney != null">
            AND `english_money` = #{englishMoney}
        </if>
        <if test="germanMoney != null">
            AND `german_money` = #{germanMoney}
        </if>
        <if test="frenchMoney != null">
            AND `french_money` = #{frenchMoney}
        </if>
        <if test="japanMoney != null">
            AND `japan_money` = #{japanMoney}
        </if>
        <if test="koreanMoney != null">
            AND `korean_money` = #{koreanMoney}
        </if>
        <if test="rmbMoney != null">
            AND `rmb_money` = #{rmbMoney}
        </if>
        <if test="encryptType != null">
            AND `encrypt_type` = #{encryptType}
        </if>
        <if test="markContentStatus != null">
            AND `mark_content_status` = #{markContentStatus}
        </if>
    </select>

    <!-- 9.根据ID查询对象 -->
    <select id="selectByPrimaryKey" resultType="com.xyz.caofancpu.trackingtime.model.D8gerAutoCodingMo">
        SELECT `id`                  AS id,
               `age`                 AS age,
               `score`               AS score,
               `total_seconds`       AS totalSeconds,
               `nick_name`           AS nickName,
               `deleted`             AS deleted,
               `complete_level`      AS completeLevel,
               `register_date`       AS registerDate,
               `pre_start_time`      AS preStartTime,
               `exact_money`         AS exactMoney,
               `english_money`       AS englishMoney,
               `german_money`        AS germanMoney,
               `french_money`        AS frenchMoney,
               `japan_money`         AS japanMoney,
               `korean_money`        AS koreanMoney,
               `rmb_money`           AS rmbMoney,
               `encrypt_type`        AS encryptType,
               `mark_content_status` AS markContentStatus
        FROM `d8ger_auto_coding`
        WHERE id = #{id}
    </select>

    <!-- 10.根据主键只更新非null字段 -->
    <update id="updateByPrimaryKeySelective" parameterType="com.xyz.caofancpu.trackingtime.model.D8gerAutoCodingMo">
        UPDATE `d8ger_auto_coding`
        <set>
            <if test="age != null">
                `age` = #{age},
            </if>
            <if test="score != null">
                `score` = #{score},
            </if>
            <if test="totalSeconds != null">
                `total_seconds` = #{totalSeconds},
            </if>
            <if test="nickName != null">
                `nick_name` = #{nickName},
            </if>
            <if test="deleted != null">
                `deleted` = #{deleted},
            </if>
            <if test="completeLevel != null">
                `complete_level` = #{completeLevel},
            </if>
            <if test="registerDate != null">
                `register_date` = #{registerDate},
            </if>
            <if test="preStartTime != null">
                `pre_start_time` = #{preStartTime},
            </if>
            <if test="exactMoney != null">
                `exact_money` = #{exactMoney},
            </if>
            <if test="englishMoney != null">
                `english_money` = #{englishMoney},
            </if>
            <if test="germanMoney != null">
                `german_money` = #{germanMoney},
            </if>
            <if test="frenchMoney != null">
                `french_money` = #{frenchMoney},
            </if>
            <if test="japanMoney != null">
                `japan_money` = #{japanMoney},
            </if>
            <if test="koreanMoney != null">
                `korean_money` = #{koreanMoney},
            </if>
            <if test="rmbMoney != null">
                `rmb_money` = #{rmbMoney},
            </if>
            <if test="encryptType != null">
                `encrypt_type` = #{encryptType},
            </if>
            <if test="markContentStatus != null">
                `mark_content_status` = #{markContentStatus},
            </if>
        </set>
        WHERE id = #{id}
    </update>

    <!-- 11.根据条件删除记录 -->
    <delete id="deleteByPrimaryKey">
        DELETE
        FROM `d8ger_auto_coding`
        WHERE id = #{id}
    </delete>

</mapper>