<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xyz.caofancpu.trackingtime.mapper.UserInfoMapper">

    <!-- 查询操作时条件 -->
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="conditionCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    AND ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    AND ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    AND ${criterion.condition} #{criterion.value} AND #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    AND ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>

    <!-- 更新操作时条件 -->
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.conditionCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    AND ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    AND ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    AND ${criterion.condition} #{criterion.value} AND #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    AND ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>

    <!-- 1.根据条件查询列表 -->
    <select id="selectByExample" parameterType="com.xyz.caofancpu.trackingtime.mapper.example.UserInfoExample" resultType="com.xyz.caofancpu.trackingtime.model.UserInfoMo">
        SELECT
        <if test="distinct">
            DISTINCT
        </if>
        `id` AS id,
        `name` AS name,
        `age` AS age,
        `job` AS job
        FROM `user_info`
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            ORDER BY ${orderByClause}
        </if>
        <if test="limit != null">
            LIMIT ${limit}
        </if>
    </select>

    <!-- 2.批量更新, 根据主键更新非null字段 -->
    <update id="updateBatchByPrimaryKeySelective" parameterType="java.util.List">
        <foreach collection="list" open="" close="" separator=";" item="item">
            UPDATE `user_info`
            <set>
                <if test="item.name != null">
                    `name` = #{item.name},
                </if>
                <if test="item.age != null">
                    `age` = #{item.age},
                </if>
                <if test="item.job != null">
                    `job` = #{item.job},
                </if>
            </set>
            WHERE `id` = #{item.id}
        </foreach>
    </update>

    <!-- 3.根据条件更新非null字段 -->
    <update id="updateByExampleSelective" parameterType="map">
        UPDATE `user_info`
        <set>
            <if test="record.id != null">
                `id` = #{record.id},
            </if>
            <if test="record.name != null">
                `name` = #{record.name},
            </if>
            <if test="record.age != null">
                `age` = #{record.age},
            </if>
            <if test="record.job != null">
                `job` = #{record.job},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>

    <!-- 4.根据条件删除记录 -->
    <delete id="deleteByExample" parameterType="com.xyz.caofancpu.trackingtime.mapper.example.UserInfoExample">
        DELETE FROM `user_info`
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>

    <!-- 5.根据条件统计记录 -->
    <select id="countByExample" parameterType="com.xyz.caofancpu.trackingtime.mapper.example.UserInfoExample">
        SELECT
        COUNT(*)
        FROM `user_info`
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>

    <!-- 6.增加单条记录, 返回主键 -->
    <insert id="insertWithId" parameterType="com.xyz.caofancpu.trackingtime.model.UserInfoMo" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO `user_info` (
            `name`,
            `age`,
            `job`
        )
        values (
            #{name},
            #{age},
            #{job}
        )
    </insert>

    <!-- 7.批量增加记录, 返回主键 -->
    <insert id="insertBatchWithId" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO `user_info` (
        `name`,
        `age`,
        `job`
        )
        VALUES
        <foreach collection="list" item="item" separator=",">
            (
            #{item.name},
            #{item.age},
            #{item.job}
            )
        </foreach>
    </insert>

    <!-- 8.UserInfo列表查询 -->
    <select id="queryUserInfoMoList" parameterType="com.xyz.caofancpu.trackingtime.model.UserInfoMo" resultType="com.xyz.caofancpu.trackingtime.model.UserInfoMo">
        SELECT
        `id` AS id,
        `name` AS name,
        `age` AS age,
        `job` AS job
        FROM `user_info`
        WHERE 1 = 1
        <if test="id != null">
            AND `id` = #{id}
        </if>
        <if test="name != null">
            AND `name` LIKE CONCAT(#{name}, '%')
        </if>
        <if test="age != null">
            AND `age` = #{age}
        </if>
        <if test="job != null">
            AND `job` LIKE CONCAT(#{job}, '%')
        </if>
    </select>

    <!-- 9.根据ID查询对象 -->
    <select id="selectByPrimaryKey" resultType="com.xyz.caofancpu.trackingtime.model.UserInfoMo">
        SELECT
            `id` AS id,
            `name` AS name,
            `age` AS age,
            `job` AS job
        FROM `user_info`
        WHERE `id` = #{id}
    </select>

    <!-- 10.根据主键只更新非null字段 -->
    <update id="updateByPrimaryKeySelective" parameterType="com.xyz.caofancpu.trackingtime.model.UserInfoMo">
        UPDATE `user_info`
        <set>
            <if test="name != null">
                `name` = #{name},
            </if>
            <if test="age != null">
                `age` = #{age},
            </if>
            <if test="job != null">
                `job` = #{job},
            </if>
        </set>
        WHERE `id` = #{id}
    </update>

    <!-- 11.根据ID删除记录 -->
    <delete id="deleteByPrimaryKey">
        DELETE FROM `user_info` WHERE `id` = #{id}
    </delete>

    <!-- 12.根据条件查询单个对象 -->
    <select id="selectOneByExample" parameterType="com.xyz.caofancpu.trackingtime.mapper.example.UserInfoExample" resultType="com.xyz.caofancpu.trackingtime.model.UserInfoMo">
        SELECT
        <if test="distinct">
            DISTINCT
        </if>
        `id` AS id,
        `name` AS name,
        `age` AS age,
        `job` AS job
        FROM `user_info`
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            ORDER BY ${orderByClause}
        </if>
        LIMIT 1
    </select>

    <!-- 13.增加单条非空字段记录, 返回主键 -->
    <insert id="insertSelectiveWithId" parameterType="com.xyz.caofancpu.trackingtime.model.UserInfoMo" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO `user_info`
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null">
                `name`,
            </if>
            <if test="age != null">
                `age`,
            </if>
            <if test="job != null">
                `job`,
            </if>
        </trim>
        <trim prefix="VALUES (" suffix=")" suffixOverrides=",">
            <if test="name != null">
                #{name},
            </if>
            <if test="age != null">
                #{age},
            </if>
            <if test="job != null">
                #{job},
            </if>
        </trim>
    </insert>
</mapper>