<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xyz.caofancpu.trackingtime.mapper.VirtualCoinTransactionRecordMapper">

    <!--auto generated Code-->
    <resultMap id="AllColumnMap" type="com.xyz.caofancpu.trackingtime.model.VirtualCoinTransactionRecord">
        <result column="id" property="id"/>
        <result column="operator_id" property="operatorId"/>
        <result column="exchange_place" property="exchangePlace"/>
        <result column="coin_type" property="coinType"/>
        <result column="price" property="price"/>
        <result column="num" property="num"/>
        <result column="transaction_amount" property="transactionAmount"/>
        <result column="coin_type_market_amount" property="coinTypeMarketAmount"/>
        <result column="operate_type" property="operateType"/>
        <result column="create_time" property="createTime"/>
    </resultMap>

    <!--auto generated Code-->
    <sql id="all_column">
        id,
        operator_id,
        exchange_place,
        coin_type,
        price,
        num,
        transaction_amount,
        coin_type_market_amount,
        operate_type,
        create_time
    </sql>

    <!--auto generated Code-->
    <insert id="insert">
        INSERT INTO virtual_coin_transaction_record
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pojo.id != null">id,</if>
            <if test="pojo.operatorId != null">operator_id,</if>
            <if test="pojo.exchangePlace != null">exchange_place,</if>
            <if test="pojo.coinType != null">coin_type,</if>
            <if test="pojo.price != null">price,</if>
            <if test="pojo.num != null">num,</if>
            <if test="pojo.transactionAmount != null">transaction_amount,</if>
            <if test="pojo.coinTypeMarketAmount != null">coin_type_market_amount,</if>
            <if test="pojo.operateType != null">operate_type,</if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pojo.id != null">#{pojo.id},</if>
            <if test="pojo.operatorId != null">#{pojo.operatorId},</if>
            <if test="pojo.exchangePlace != null">#{pojo.exchangePlace},</if>
            <if test="pojo.coinType != null">#{pojo.coinType},</if>
            <if test="pojo.price != null">#{pojo.price},</if>
            <if test="pojo.num != null">#{pojo.num},</if>
            <if test="pojo.transactionAmount != null">#{pojo.transactionAmount},</if>
            <if test="pojo.coinTypeMarketAmount != null">#{pojo.coinTypeMarketAmount},</if>
            <if test="pojo.operateType != null">#{pojo.operateType},</if>
        </trim>
    </insert>

    <!--auto generated Code-->
    <insert id="insertList">
        INSERT INTO virtual_coin_transaction_record(
        <include refid="all_column"/>
        )VALUES
        <foreach collection="pojos" item="pojo" index="index" separator=",">
            (
            #{pojo.id},
            #{pojo.operatorId},
            #{pojo.exchangePlace},
            #{pojo.coinType},
            #{pojo.price},
            #{pojo.num},
            #{pojo.transactionAmount},
            #{pojo.coinTypeMarketAmount},
            #{pojo.operateType}
            )
        </foreach>
    </insert>

    <!--auto generated Code-->
    <update id="update">
        UPDATE virtual_coin_transaction_record
        <set>
            <if test="pojo.id != null">id = #{pojo.id},</if>
            <if test="pojo.operatorId != null">operator_id = #{pojo.operatorId},</if>
            <if test="pojo.exchangePlace != null">exchange_place = #{pojo.exchangePlace},</if>
            <if test="pojo.coinType != null">coin_type = #{pojo.coinType},</if>
            <if test="pojo.price != null">price = #{pojo.price},</if>
            <if test="pojo.num != null">num = #{pojo.num},</if>
            <if test="pojo.transactionAmount != null">transaction_amount = #{pojo.transactionAmount},</if>
            <if test="pojo.coinTypeMarketAmount != null">coin_type_market_amount = #{pojo.coinTypeMarketAmount},</if>
            <if test="pojo.operateType != null">operate_type = #{pojo.operateType}</if>
        </set>
        WHERE id = #{pojo.id}
    </update>

    <!--auto generated Code-->
    <select id="select" resultMap="AllColumnMap">
        SELECT
        <include refid="all_column"/>
        FROM virtual_coin_transaction_record
        <where>
            <if test="pojo.id != null">AND id = #{pojo.id}</if>
            <if test="pojo.operatorId != null">AND operator_id = #{pojo.operatorId}</if>
            <if test="pojo.exchangePlace != null">AND exchange_place = #{pojo.exchangePlace}</if>
            <if test="pojo.coinType != null">AND coin_type = #{pojo.coinType}</if>
            <if test="pojo.price != null">AND price = #{pojo.price}</if>
            <if test="pojo.num != null">AND num = #{pojo.num}</if>
            <if test="pojo.transactionAmount != null">AND transaction_amount = #{pojo.transactionAmount}</if>
            <if test="pojo.coinTypeMarketAmount != null">AND coin_type_market_amount = #{pojo.coinTypeMarketAmount}</if>
            <if test="pojo.operateType != null">AND operate_type = #{pojo.operateType}</if>
            <if test="pojo.createTime != null">AND create_time = #{pojo.createTime}</if>
        </where>
        LIMIT 1000
    </select>

    <!--auto generated Code-->
    <delete id="delete">
        DELETE
        FROM virtual_coin_transaction_record
        where id = #{id}
    </delete>
</mapper>
